section.secret {
    padding: 60px 0;
    background-color: #fafafa;
    position: relative;
    z-index: 1;

    .container {
        display: flex;
        gap: 30px;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        .item {
            width: calc(50% - 15px);

            @media (max-width: 992px) {
                width: 100% !important;
            }

            .section-title {
                margin: 0 0 2rem !important;
            }

            >* {
                text-align: left !important;
            }

            p {
                color: #474747;
                line-height: 1.8;
                font-weight: bold;
                margin-bottom: 30px;
            }

            &:first-of-type {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                gap: 2%;
            }

            img {
                width: 49%;
                display: inline-block;
            }
        }
    }
}