section.testimonials {
    padding: 60px 0;
    background: url('../../assets/testimonials_bg.jpg') fixed center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    .container {
        position: relative;
        z-index: 1;

        .section-title {
            h3 {
                color: var(--white-color);
            }
        }

        .swiper {
            margin-bottom: 4rem;

            .bullets {
                width: 100% !important;
                text-align: center !important;
                z-index: 1 !important;
                transform: unset !important;
                overflow: unset !important;
                font-size: unset !important;
                margin-top: 2rem !important;

                span {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin: 2px;
                    background-color: rgb(255 255 255 / 50%);
                    border: 3px solid rgb(0 0 0 / 80%);
                    border-radius: 50%;
                    ;
                    box-shadow: 0 0 0 2px rgb(255 255 255 / 50%), 0 3px 9px rgb(0 0 0 / 30%);
                    cursor: pointer;
                    opacity: 0.9 !important;

                    &.swiper-pagination-bullet-active {
                        background-color: var(--primary-color) !important;
                        box-shadow: 0 0 0 2px var(--primary-color) !important;

                    }
                }
            }
        }
    }
}